
 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
 }

li {
   display: inline; 
   font-size: 15px;
   margin: 15px;
 }

 h2 {
font-size: 20px;
 background-color: white;
 padding: 10px;
   }

 /* h3 {
 color: whitesmoke;
 padding: 25px;
 background-color: lightblue;
 width: 50%; */
 }

 h4{
    font-family:'Coustard';
 }

 h5{
   font-family: 'Roboto Slab';
 }

 img{
    float: left;
    padding: 30px;
    }

 hr {
    border-width: 10px;
    color: brown;
   }
   
    ul {
        background-color: white;
        font-family: 'Play', sans-serif;
        font-size: 15px;
    }

    li, ul {
       padding: 5px;
       background-color: whitesmoke;
    }


    




